.fretting-element {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  margin-right: 1em;
}

.fretting-control {
  width: 2.9em;
  height: 2.9em;
  border-radius: 50%;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.bar {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  margin-top: 2em;
  margin-bottom: 2em;
  height: 400px;
}

hr {
  z-index: -1;
  width: 100%;
  position: relative;
  top: -23.05em;
  margin-top: 3em;
}

.string-name {
  z-index: -1;
  width: 100%;
  height: 1.6em;
  position: relative;
  top: -43.55em;
  left: -1em;
}

.remove-bar {
  position: relative;
  right: -13em;
  bottom: -16em;
  height: 1.5em;
  width: 1.5em;
  background-color: red;
  border-radius: 50%;
  border: 1px solid black;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}

.remove-bar:enabled:hover {
  opacity: 0.8;
}

.bpm-container {
  width: fit-content;
  margin-inline: auto;
  display: flex;
  gap: 1em;
}

p {
  width: fit-content;
}

.active {
  background-color: red;
  border-radius: 1em;
}

#add-bar-button,
#play-tabs-button {
  margin-inline: auto;
}

#tabs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 700px;
  padding: 2em;
  margin-inline: auto;
  border: 2px solid black;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
}

.remove-bar:disabled {
  opacity: 0.5;
  filter: grayscale(20%);
}
