.navbar {
  position: fixed;
  top: 0;
  font-family: Inter, sans-serif;
  font-size: 32px;
  margin: 32px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 95%;
  align-self: center;
}

.logo {
  padding: 0;
  font-weight: 700;
  text-decoration: none;
  color: #ffd900;
}

.username {
  /* margin-right: 25px; */
  color: #ffffff;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login-button {
  text-decoration: none;
  justify-self: end;
}

.logout-form {
  height: 32px;
}

.logout-button {
  background:url(../../assets/icon_log_out.png) no-repeat ;
  cursor:pointer;
  border:none;
  width: 32px;
  height: 100%;
}