.navbar {
  font-family: Inter;
  font-size: 32px;
  margin: 32px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
  text-decoration: none;
  color: #ffd900;
}

.username {
  margin-right: 25px;
  /* color: #fff; */
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login_button {
  text-decoration: none;
}
