body {
    background-color: #121212;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 50;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    gap: 32px;
}

.form-input {
    padding: 1em;
    height: 78px;
    font: inherit;
    line-height: 0.4;
    width: 450px;
    font-weight: 100;
    margin: 0;
    background-color: #D9D9D9;
    border-radius: 24px;
    box-sizing: border-box;
}

.form-input:focus {
    outline: none;
    border: none;
}

.submit-button {
    font: inherit;
    height: 78px;
    font-weight: 100;
    background-color: #D9D9D9;
    color: #000000;
    padding: 10px;
    border: none;
    border-radius: 24px;
    width: 200px;
    cursor: pointer;
}

.submit-button:hover {
    filter: brightness(150%);
}

.register-text {
    text-align: center;
    color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-content: baseline;
    flex-direction: row;
    gap: 5px
}
.register-link{
    margin: 0;
    font-weight: 100;
    text-align: center;
    color: #D9D9D9;
}
.input-label{
    display: none;
}
