body {
  background-color: #121212;
  font-family: Inter, sans-serif;
}

.main-container {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}

.main-container * {
  margin: auto;
}

.landing-page-title-container * {
  color: white;
}

.landing-page-title-logo {
  color: #ffd900;
}

.title-image-wrapper {
  display: flex;
  justify-content: space-around;
}

.song-searchbar {
  padding: 0.5em 1em 0.5em;
  margin: 2em 1.4em 1.2em 1.4em;
  width: 400px;
  height: 50px;
  border-radius: 1em;
  font-size: 24px;
}

.song-creation-label {
  color: white;
  font-size: 24px;
}

.song-form-blur {
  z-index: 11;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
}

.song-form-background {
  z-index: 12;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8);
}

.song-form {
  z-index: 13;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 515px;
  height: 363px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1f;
  opacity: 1; 
  border-radius: 1em;
}

.form-input {
  padding: 1em;
  width: 400px;
  height: 50px;
  border-radius: 24px;
  font-size: 24px;
}
.form-input.song-name {
  margin: 2.5em 1.4em 0 1.4em;
}
.form-input.song-author {
  margin: 1em 1.4em 0 1.4em;
}

.submit-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.submit-button {
  margin: 1em 1.5em 1em;
  padding: 1em;
  width: fit-content;
  font-size: 24px;
  border-radius: 1em;
  border: none;
  cursor: pointer;
}

.submit-button:hover {
  filter: brightness(150%);
}

.close-button {
  position: absolute;
  top: 0.7em;
  right: 1em;
  background: none;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

a {
  cursor: pointer;
}
